In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
fine = pd.read_csv('Fine.csv')

In [3]:
fine.head()

   FineID  UserID
0  112041    2452
1  112042    2453
2  112043    2454
3  112044    2455
4  112045    2456

In [5]:
fine.shape

(230, 2)

#### Amounts

In [6]:
amounts = []

for i in range(230):
    amounts.append(random.choice(list(range(25,500))))

#### Dates

In [8]:
days = map(str, list(range(1,32)))
days = (list(days))
months = map(str, list(range(1,12)))
months = list(months)
years = map(str, list(range(1995, 2010)))
years = list(years)

In [11]:
issued=[]


for i in range(230):
    issued.append(random.choice(years)+"-"+random.choice(months)+"-"+random.choice(days))

#### Payment Status

In [12]:
Statusi = ['Paid','Not Paid']

In [13]:
statuses = []

for i in range(230):
    statuses.append(random.choice(Statusi))

#### Compile data and export

In [15]:
fine['Amount'] = amounts
fine['IssuedDate'] = issued
fine['PaymentStatus'] = statuses

In [16]:
fine.head()

   FineID  UserID  Amount IssuedDate PaymentStatus
0  112041    2452     289   1998-4-7          Paid
1  112042    2453     304  1996-8-25          Paid
2  112043    2454      39  2001-7-22          Paid
3  112044    2455     125  2005-5-17          Paid
4  112045    2456     340   2005-6-4          Paid

In [17]:
fine.to_csv('Fine.csv', index = False)